body{
    margin: 0;

    color: #1B2631;
    font-family: Tahoma;

    background-color: #F2F3F4;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: none;
    color: white;
}

input,button{
    padding: 5px 10px;
    border-radius: 0;
    border: none;
    width: 150px;
    margin: 10px auto;
    outline: none;
}

button{
    background: #E74C3C;
    color: white;
    transition: 0.2s;
}


button:hover{
    background: #F4D03F;
    color: white;
}

#h1Layout{
    color: white;
}


/*/////////////////header-nav//////////////////////*/

header{
    background-color: #1B2631;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#nav{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.aMenu{
    padding: 4px;
    transition: 0.2s;
    margin: 0px 4px 0px 4px;

}

.aMenu:hover{
    background-color: #E74C3C;
    color: white;
}

/*////////////////////connection///////////////////*/

#wrap{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#formConnexion{

    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#formConnexion>input{
    background: white;
}

#h2FormConnexion{
    margin-bottom: 40px;
    color: #1B2631;
}

#lblRemember{
    color: #1B2631;

}
#remember_me{
    width: 20px;
    position: relative;
    top: 2px;
}

#aMdpOublier{
    color: #1B2631;
}

#pMdpOublier:hover{
    border-bottom: 1px solid #1B2631;
}
#formConnexion>div>input{
    border: 1px solid #1B2631;
}

/*//////////////////:accueil/////////////////////*/

#divFiltre{
    color: white;
    display: none;
    background-color:#1B2631;
}

#formFiltre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

#form1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#form2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
}

#b1{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

#b2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}


#b6{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;

}

#btnFiltre{
    margin-left: 16px;
}
/*///////////////////////tableau accueil////////////*/

table{
    margin-top: 50px;
    border-collapse: collapse;
}
th,td{
    border: 1px solid #1B2631;
    padding: 5px;
}
tbody>tr>td>a{
    background-color: #E74C3C;
    padding: 3px;
    transition: 0.2s;
}

tbody>tr>td>a:hover{
    background-color: #F4D03F;
    color: white;
}

#creerSortie{
    width: 150px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #E74C3C;
    color: white;
    transition: 0.2s;
}

#creerSortie:hover{
    background-color:#F4D03F;
    color: white;
}

/*/////////////////modifier mon profil///////////*/

#container{
    display: flex;
    align-items: center;
    justify-content: center;
}

#container>div>input,button{
    display: block;
}

#container>div>input{
    float: left;
}
/*////////////////administrateur/////////////////////*/

.divAdmin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

/*//////////////inscription///////////////////////*/

#formProfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#formProfil>input,button{
    display: block;
}

#formProfil>input{
    float: left;
}




